@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
:root{
    --linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --red-errors: hsl(0, 100%, 66%);

    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}


*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .image-linear{
        height: 100vh;
        background-image: url(/images/bg-main-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .img1{
        position: absolute;
        top: 10%;
        right: 58%;
        color: var(--white);
        
        .logo-card{
            position: absolute;
            top: 10%;
            left: 8%;
        }
        .numberUser{
            position: absolute;
            top: 50%;
            left: 8%;
            letter-spacing: 1px;
        }
        .nameUser{
            position: absolute;
            top: 80%;
            left: 8%;
            
        }
        .dateUser{
            position: absolute;
            top: 80%;
            left: 85%;
        }
    }

    .img2{
        position: absolute;
        top: 50%;
        right: 52%;

        .cvcUser{
            position: absolute;
            top: 44%;
            left: 80%;
            color: var(--white);
        }
    }
    .container{
        grid-column: span 2;
        padding: 200px 200px 0px 400px;
        .form{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            .nameC{
                grid-column: span 2;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            .numberC{
                grid-column: span 2;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            .date{
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: center;
                label{
                    grid-column: span 2;
                }

                input{
                    width: 90%;
                    padding: 5px 15px;

                }
            }

            .cvc{
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            .btn{
                grid-column: span 2;
                background-color: var(--very-dark-violet);
                padding: 15px 10px;
                margin-top: 25px;
                border-radius: 10px;
                border: none;
                cursor: pointer;
                color: var(--white);
            }
            label{
                font-size: 13px;
                font-weight: 600;
            }

            input{
                padding: 10px 10px;
                border-radius: 8px;
                border: 1px solid var(--light-grayish-violet);
                font-size: 15px;

                &::placeholder{
                    color: var(--light-grayish-violet);
                    font-weight: 800;
                }
            }
        }
    }
}

@media (max-width: 768px){
    body{
        position: relative;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        .image-linear{
            height: 100vh;
            img{
                background-image: url(/images/bg-main-desktop.png);
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        .img1{
            position: absolute;
            top: 28%;
            right: 30%;
            color: var(--white);
            z-index: 999;
            
            .logo-card{
                position: absolute;
                top: 10%;
                left: 8%;
            }
            .numberUser{
                position: absolute;
                top: 50%;
                left: 8%;
                letter-spacing: 1px;
            }
            .nameUser{
                position: absolute;
                top: 80%;
                left: 8%;
                
            }
            .dateUser{
                position: absolute;
                top: 80%;
                left: 85%;
            }
        }
    
        .img2{
            position: absolute;
            top: 16%;
            right: 15%;

            .cvcUser{
                position: absolute;
                top: 44%;
                left: 80%;
                color: var(--white);
            }
        }
        .container{
            padding: 100px;
            }
        }
}


@media (max-width: 375px){
    body{
        position: relative;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        .image-linear{
            height: 100vh;
            background-image: url(/images/bg-main-desktop.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .img1{
            position: absolute;
            top: 35%;
            right: 15%;
            color: var(--white);
            img{
                width: 300px;
                height: 200px;
            }
            .logo-card{
                position: absolute;
                top: 10%;
                left: 8%;
            }
            .numberUser{
                position: absolute;
                top: 50%;
                left: 8%;
                letter-spacing: 1px;
                font-size: 20px;
            }
            .nameUser{
                position: absolute;
                top: 80%;
                left: 8%;
                font-size: 12px;
            }
            .dateUser{
                position: absolute;
                top: 80%;
                left: 85%;
                font-size: 12px;

            }
        }
    
        .img2{
            position: absolute;
            top: 20%;
            right: 5%;
            img{
                width: 300px;
                height: 200px;
            }
            .cvcUser{
                position: absolute;
                top: 43%;
                left: 75%;
                color: var(--white);
            }
        }
        .container{
            
            padding: 100px 20px;
            .form{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
    
                .nameC{
                    grid-column: span 2;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
    
                .numberC{
                    grid-column: span 2;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
                .date{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    justify-content: center;
                    label{
                        grid-column: span 2;
                    }
    
                    input{
                        width: 90%;
                        padding: 5px 15px;
    
                    }
                }
    
                .cvc{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    
                    input{
                        width: 100%;
                    }
                }
                .btn{
                    grid-column: span 2;
                    background-color: var(--very-dark-violet);
                    padding: 15px 10px;
                    margin-top: 25px;
                    border-radius: 10px;
                    border: none;
                    cursor: pointer;
                    color: var(--white);
                }
                label{
                    font-size: 13px;
                    font-weight: 600;
                }
    
                input{
                    padding: 10px 10px;
                    border-radius: 8px;
                    border: 1px solid var(--light-grayish-violet);
                    font-size: 15px;
    
                    &::placeholder{
                        color: var(--light-grayish-violet);
                        font-weight: 800;
                    }
                }
            }
        }
    }
}


@media (max-width: 400px){
    body{
        position: relative;
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        .image-linear{
            height: 100vh;
            background-image: url(/images/bg-main-desktop.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .img1{
            position: absolute;
            top: 40%;
            right: 15%;
            color: var(--white);
            img{
                width: 300px;
                height: 200px;
            }
            .logo-card{
                position: absolute;
                top: 10%;
                left: 8%;
            }
            .numberUser{
                position: absolute;
                top: 50%;
                left: 8%;
                letter-spacing: 1px;
                font-size: 20px;
            }
            .nameUser{
                position: absolute;
                top: 80%;
                left: 8%;
                font-size: 12px;
            }
            .dateUser{
                position: absolute;
                top: 80%;
                left: 85%;
                font-size: 12px;

            }
        }
    
        .img2{
            position: absolute;
            top: 30%;
            right: 5%;
            img{
                width: 300px;
                height: 200px;
            }
            .cvcUser{
                position: absolute;
                top: 43%;
                left: 75%;
                color: var(--white);
            }
        }
        .container{
            
            padding: 100px 20px;
            .form{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
    
                .nameC{
                    grid-column: span 2;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
    
                .numberC{
                    grid-column: span 2;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
                .date{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    justify-content: center;
                    label{
                        grid-column: span 2;
                    }
    
                    input{
                        width: 90%;
                        padding: 5px 15px;
    
                    }
                }
    
                .cvc{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    
                    input{
                        width: 100%;
                    }
                }
                .btn{
                    grid-column: span 2;
                    background-color: var(--very-dark-violet);
                    padding: 15px 10px;
                    margin-top: 25px;
                    border-radius: 10px;
                    border: none;
                    cursor: pointer;
                    color: var(--white);
                }
                label{
                    font-size: 13px;
                    font-weight: 600;
                }
    
                input{
                    padding: 10px 10px;
                    border-radius: 8px;
                    border: 1px solid var(--light-grayish-violet);
                    font-size: 15px;
    
                    &::placeholder{
                        color: var(--light-grayish-violet);
                        font-weight: 800;
                    }
                }
            }
        }
    }
}